.movieObject {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-radius: 30px;
  justify-content: space-between;
}

.interactions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: space-around;
  text-align: center;
  padding-right: 25px;
}

p {
  padding-left: 25px;
}
