nav{
    display: flex; 
    justify-content: space-between;
    background-color: rgb(50, 107, 114);
    border-radius: 25px;
    cursor: url(../Assets/planchette.png), auto;
}

.UserLinks{
    display: flex;
    justify-content: space-between;
    
}

h3{
    padding: 20px;
}

@media all and (max-width: 600px){
    nav{
        display: flex; 
        justify-content: space-between;
        background-color: rgb(50, 107, 114);
        border-radius: 25px;
        font-size: small;
    }

    .UserLinks{
        display: flex;
        justify-content: space-between;
        font-size: small;
    }

    img{
        width: auto;
    }
}